  body{
      background-color: rgb(224, 255, 222);
  }
  input{
    width: 200px;
    height: 50px;
    font-size:30px;
    border-radius: 15px;
    border-width: 1px;
  }
  button{
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  }
  .btn65{
    background-color: rgb(172, 172, 255);
  }
  .btn80{
    background-color: rgb(255, 158, 158);
  }
  table{
    width: 320px;
    height: 160px;
    position: relative;
    top: 3px;
  }
  .ur{
    font-size: 30px;
  }
  .anser{
    font-size: 30px;
  }
